[Desktop Entry]
Type=Application
Name=Offline Kiosk
Exec=/opt/offline-client/kiosk-launcher.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
